.features7-blocks{
    display: block;
}

.list-horizontal{
    ul {
    display: flex;
    justify-content: center;
    background: #16697A;
    

  }
  li{
    margin-left: 110px;
    width: 72px;
    height: 24px;
    white-space: nowrap;

    /* h5 */

    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;


    letter-spacing: 0.1px;

    color: #FFFFFF;



    flex: none;
    order: 0;
    flex-grow: 0
  }

  
}


.list-horizontal2{
    ul {
    background: #16697A;

  }
  li{
    margin-top:20px;
    a{
    margin-left: 330px;
    width: 69px;
    height: 24px;
 
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 24px;

    letter-spacing: 0.2px;
    

    color: #FFFFFF;
    

    flex: none;
    order: 0;
    flex-grow: 0
  }}

}

.list-horizontal3{
    ul {
    background: #16697A;

  }
  li{
    margin-top:20px;
    a{
    margin-left: 77px;
    width: 69px;
    height: 24px;
    

    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 24px;
 
    letter-spacing: 0.2px;
    

    color: #FFFFFF;
    

    flex: none;
    order: 0;
    flex-grow: 0
  }}

}

.rest-bottom{
    display: flex;
    background: #16697A;
   
}

.list-horizontal4{
    ul {
    background: #16697A;

  }
  li{
    margin-top:20px;
    a{
    margin-left: 40px;
    width: 69px;
    height: 24px;

    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 24px;

    letter-spacing: 0.2px;
    

    color: #FFFFFF;
    

    flex: none;
    order: 0;
    flex-grow: 0
  }}

}

.list-horizontal5{
   // background: #16697A;
    ul {
    background: #16697A;
    
  }
  //background: #16697A;
 
  li{
   // background: #16697A;
    display: flex;
    margin-top:30px;
    margin-left: 70px;
    width: 69px;
    height: 24px;
    

    white-space: nowrap;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 24px;

    letter-spacing: 0.2px;
    

    color: #FFFFFF;

    flex: none;
    order: 0;
    flex-grow: 0
    
  }

}




.social{
    margin-top:40px;
    display: flex;
    justify-content: center;
    margin-left:100px;

    img{
        display: inline;
        margin-left:10px;
    }
    .text-bottom{
        &__name{
            width: 368px;
        height: 24px;
        margin-right:380px;

        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 600;
        font-size: 14px;
        line-height: 24px;
        /* identical to box height, or 171% */

        letter-spacing: 0.2px;

        color: #737373;

        flex: none;
        order: 0;
        flex-grow: 0;
        white-space: nowrap;
        }
    }
}











