.hero{
    background-image: url('../images/design/back.jpg') ;

    min-height:calc(100vh - 60px); 
    background-size: cover;
    //background-repeat: no-repeat;
    background-position: top right;
    
}