.btn{
    display: inline-block;

    margin-bottom: 60px;

    font-weight: 700; //bold
    font-size: 14px;

    line-height: 48px;//28px;
    letter-spacing: 0.2px;
    padding: 0 36px;

    border: 1px solid $primary-color;
    border-radius: 5px;

    background-color: $primary-color;
    color: #FFF;

    transition: background-color all ease .35s, color ease .35s;

    &+&{
        margin-left:10px;
    }

    &:hover{
        background-color: transparent;
        color: $primary-color;
    }

    //border - square(default) or rouded
    &--rounded{
        border-radius: 37px;
    }

    //color - primary(default) or secondary
    &--secondary{
        background-color: $secondary-color;
        border-color: $secondary-color;
        &:hover{
           // background-color: transparent;
            color: $secondary-color;
        }
    }

    &--third{
        background-color: $secondary-color;
        border-color: $primary-color;
        &:hover{
           // background-color: transparent;
            color: $secondary-color;
        }
    }

    
    &--fourth{
        background-color: $secondary-color;
        border-color: #FFF;
        &:hover{
           // background-color: transparent;
            color: $secondary-color;
        }
    }

    //fil - full(default) or outline
    &--outline{
        background-color: transparent;
        color: $primary-color;

        &:hover{
            background-color: $primary-color;
            color: #FFF;
             //color: $secondary-color;
         }
    }

    &--outline2{
        background-color: transparent;
        color: #FFF;

        &:hover{
            background-color: #6d6d7e;
            color: #FFF;
             //color: $secondary-color;
         }
    }

    
}